<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'emailer/style.css' %}">

    <title>Emailer</title>
  </head>
  <body>

    <!-- Centering Source: https://stackoverflow.com/questions/42388989/bootstrap-4-center-vertical-and-horizontal-alignment -->
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        {% if email_list %}
        <form action="" method="POST" class="col-12">

          <div class="row">
            {% csrf_token %}
            <div class="col">
              <input class="form-control input-lg rounded-0" type="text" name="subject" placeholder="Subject">
              <textarea class="form-control rounded-0 h-100" name="body" rows=10 placeholder="Say something..."></textarea>
              <input class="form-control" type="submit" value="Send"/>
            </div>

            <div class="col">
              <label for="email">Send To:</label>
              <select multiple class="form-control h-100" name="email">
                {% for email in email_list %}
                <option>{{ email.email }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

        </form>
        {% else %}
        <p>No emails are available.</p>
        {% endif %}
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>

